<%- include ('../admin/partials/header') %>
    <!-- Main Section -->
    <main class="viewCars">
        <section>
            <h1>Welcome to The Admin Section</h1>
        </section>

        <section>
            <table border="2">
                <thead class="tableHead">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th colspan="2">Action</th>
                </thead>
                <tbody class="tableBody striped">
                    <% if(admins.length > 0) { %> 
                        <% admins.forEach((admin) => { %> 
                            <tr>
                                <td><%-admin.name%></td>
                                <td><%- admin.email%></td>
                                <!--<td><a href="/admin/<%-//admin._id%>/edit">Edit</a></td>-->
                                <td>
                                    <form action="/admin/<%-admin._id%>?_method=DELETE" method="POST">
                                        <button type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    <% } %>
                </tbody>
            </table>
        </section>
    </main>
    <!-- End of Main Section -->

<%- include ('../admin/partials/footer') %>