<%- include ('partials/header') %>    
    <div class="hero-wrap ftco-degree-bg" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
          <div class="col-lg-8 ftco-animate">
          	<div class="text w-100 text-center mb-md-5 pb-md-5">
	            <h1 class="mb-4">Fast &amp; Easy Way To Rent A Car</h1>
	            <p style="font-size: 18px;">Rent your car from the best rental company in town. Our services are top-notch</p>
            </div>
          </div>
        </div>
      </div>
    </div>

<section class="ftco-section ftco-no-pt bg-light">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-12	featured-top">
				<div class="row no-gutters">
					<div class="col-md-4 d-flex align-items-center">
						<!--<form action="#" method="POST" class="request-form ftco-animate bg-primary">
							<h2>Make your trip</h2>
							<div class="form-group">
								<label for="" class="label">Pick-up location</label>
								<input type="text" class="form-control" placeholder="City, Airport, Station, etc">
							</div>
							<div class="form-group">
								<label for="" class="label">Drop-off location</label>
								<input type="text" class="form-control" placeholder="City, Airport, Station, etc">
							</div>
							<div class="d-flex">
								<div class="form-group mr-2">
									<label for="" class="label">Pick-up date</label>
									<input type="text" class="form-control" id="book_pick_date" placeholder="Date">
								</div>
								<div class="form-group ml-2">
									<label for="" class="label">Drop-off date</label>
									<input type="text" class="form-control" id="book_off_date" placeholder="Date">
								</div>
							</div>

							<div class="form-group">
								<label for="" class="label">Pick-up time</label>
								<input type="text" class="form-control" id="time_pick" placeholder="Time">
							</div>
							
							<div class="form-group">
								<input type="submit" value="Rent A Car Now" class="btn btn-secondary py-3 px-4">
							</div>
						</form>-->
					</div>

					<div class="col-md-12 d-flex align-items-center">
						<div class="services-wrap rounded-right w-100">
							<h3 class="heading-section mb-4">Better Way to Rent Your Perfect Cars</h3>
							<div class="row d-flex mb-4">
								<div class="col-md-4 d-flex align-self-stretch ftco-animate">
									<div class="services w-100 text-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="flaticon-route"></span>
										</div>
										<div class="text w-100">
											<h3 class="heading mb-2">Choose Your Pickup Location</h3>
										</div>
									</div>      
								</div>

								<div class="col-md-4 d-flex align-self-stretch ftco-animate">
									<div class="services w-100 text-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="flaticon-handshake"></span>
										</div>
										<div class="text w-100">
											<h3 class="heading mb-2">Select the Best Deal</h3>
										</div>
									</div>      
								</div>
							
								<div class="col-md-4 d-flex align-self-stretch ftco-animate">
									<div class="services w-100 text-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="flaticon-rent"></span>
										</div>
										<div class="text w-100">
											<h3 class="heading mb-2">Reserve Your Rental Car</h3>
											</div>
										</div>      
									</div>
								</div>
								<p>
									<a href="/cars" class="btn btn-primary py-3 px-4">Reserve Your Perfect Car</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-section ftco-no-pt bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 heading-section text-center ftco-animate mb-5">
				<span class="subheading">What we offer</span>
				<h2 class="mb-2">Feeatured Vehicles</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="carousel-car owl-carousel">
					<% cars.forEach((car => { %> 
						<div class="item">
							<div class="car-wrap rounded ftco-animate">
								<div class="img rounded d-flex align-items-end" style="background-image: url(/files/<%-car.full%>);">
								</div>
								<div class="text">
									<h2 class="mb-0"><a href="/cars/<%- car._id %>"><%- car.carName %></a></h2>
									<div class="d-flex mb-3">
										<span class="cat"><%- car.carModel%></span>
										<p class="price ml-auto">Le <%- car.price %> <span>/day</span></p>
									</div>
									<p class="d-flex mb-0 d-block"><a href="/checkout" class="btn btn-primary py-2 mr-1">Book now</a> <a href="/cars/<%- car._id %>" class="btn btn-secondary py-2 ml-1">Details</a></p>
								</div>
							</div>
						</div>
					<% })); %>
					<!--
					<div class="item">
						<div class="car-wrap rounded ftco-animate">
							<div class="img rounded d-flex align-items-end" style="background-image: url(images/car-2.jpg);">
							</div>
							<div class="text">
								<h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
								<div class="d-flex mb-3">
									<span class="cat">Cheverolet</span>
									<p class="price ml-auto">$500 <span>/day</span></p>
								</div>
								<p class="d-flex mb-0 d-block"><a href="/checkout" class="btn btn-primary py-2 mr-1">Book now</a> <a href="/carSingle" class="btn btn-secondary py-2 ml-1">Details</a></p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="car-wrap rounded ftco-animate">
							<div class="img rounded d-flex align-items-end" style="background-image: url(images/car-3.jpg);">
							</div>
							<div class="text">
								<h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
								<div class="d-flex mb-3">
									<span class="cat">Cheverolet</span>
									<p class="price ml-auto">$500 <span>/day</span></p>
								</div>
								<p class="d-flex mb-0 d-block"><a href="/checkout" class="btn btn-primary py-2 mr-1">Book now</a> <a href="/carSingle" class="btn btn-secondary py-2 ml-1">Details</a></p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="car-wrap rounded ftco-animate">
							<div class="img rounded d-flex align-items-end" style="background-image: url(images/car-4.jpg);">
							</div>
							<div class="text">
								<h2 class="mb-0"><a href="#">Mercedes Grand Sedan</a></h2>
								<div class="d-flex mb-3">
									<span class="cat">Cheverolet</span>
									<p class="price ml-auto">$500 <span>/day</span></p>
								</div>
								<p class="d-flex mb-0 d-block"><a href="/checkout" class="btn btn-primary py-2 mr-1">Book now</a> <a href="/carSingle" class="btn btn-secondary py-2 ml-1">Details</a></p>
							</div>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-about">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/about.jpg);">
			</div>
			<div class="col-md-6 wrap-about ftco-animate">
				<div class="heading-section heading-section-white pl-md-5">
					<span class="subheading">FAQ</span>
					<h2 class="mb-4">How old do I need to be to rent a car?</h2>

					<p>
						With many rental companies, you must be at least 21 years of age to rent a car, and any driver under 25 may have to pay a Young Driver Fee. Similarly, people aged 70+ may find some companies will charge a Senior Driver Fee, or may not rent to them at all.
					</p>
					<p>
						So car rental for the under-25s or over-70s can be more expensive – which is one more reason to book with CarRent, as we work with all the big brands. Just check each car’s terms and conditions to see if your age would make any difference.
					</p>
					<p><a href="/cars" class="btn btn-primary py-3 px-4">See Our Vehicles</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading">Services</span>
				<h2 class="mb-3">Our Latest Services</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="services services-2 w-100 text-center">
			<div class="icon d-flex align-items-center justify-content-center">
				<span class="flaticon-wedding-car"></span>
			</div>
			<div class="text w-100">
				<h3 class="heading mb-2">Wedding Ceremony</h3>
				<p>
					For the best and latest car for your wedding ceremony, you can always count on us to give you the best cars of the year and at the best price.
				</p>
			</div>
		</div>
		
		</div>
			<div class="col-md-3">
				<div class="services services-2 w-100 text-center">
					<div class="icon d-flex align-items-center justify-content-center">
						<span class="flaticon-transportation"></span>
					</div>
					<div class="text w-100">
						<h3 class="heading mb-2">City Transfer</h3>
						<p>
							Moving from one town to another, you can get a car for the rent for your stay until your return at an affordable price.
						</p>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="services services-2 w-100 text-center">
					<div class="icon d-flex align-items-center justify-content-center">
						<span class="flaticon-car"></span>
					</div>
					<div class="text w-100">
						<h3 class="heading mb-2">Airport Transfer</h3>
						<p>
							Thinking of coming into the country and wondering where to get the best car rental services, CarRent is here for you. Rent our cars and they will be ready and waiting for you at the airport for an affordable price.
						</p>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="services services-2 w-100 text-center">
					<div class="icon d-flex align-items-center justify-content-center">
						<span class="flaticon-transportation"></span>
					</div>
					<div class="text w-100">
						<h3 class="heading mb-2">Whole City Tour</h3>
						<p>
							Thinking of touring the country, you cannot rent a better car that is affordable, and comfortable than ours. We offer the best tours and tour guides in the country.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-intro" style="background-image: url(images/bg_3.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-md-6 heading-section heading-section-white ftco-animate">
				<h2 class="mb-3">Do You Want To Earn With Us? So Don't Be Late.</h2>
				<a href="/driver" class="btn btn-primary btn-lg">Become A Driver</a>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section testimony-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading">Testimonial</span>
				<h2 class="mb-3">Happy Clients</h2>
			</div>
		</div>
		<div class="row ftco-animate">
			<div class="col-md-12">
				<div class="carousel-testimony owl-carousel ftco-owl">
					<div class="item">
						<div class="testimony-wrap rounded text-center py-4 pb-5">
							<div class="user-img mb-2" style="background-image: url(images/Jude.jpeg)">
							</div>
							<div class="text pt-4">
								<p class="mb-4">
									Final Year Njala University Computer Science Honours Student
								</p>
								<p class="name">Jude Steven Sandi</p>
								<span class="position">Back-End Developer</span>
							</div>
						</div>
					</div>

					<div class="item">
						<div class="testimony-wrap rounded text-center py-4 pb-5">
							<div class="user-img mb-2" style="background-image: url(images/theony.jpg)">
							</div>
							<div class="text pt-4">
								<p class="mb-4">
									Final Year Njala University Computer Science Honours Student
								</p>
								<p class="name">Theony Simbo Kamara</p>
								<span class="position">Systems Analyst</span>
							</div>
						</div>
					</div>

					<div class="item">
						<div class="testimony-wrap rounded text-center py-4 pb-5">
							<div class="user-img mb-2" style="background-image: url(images/Chernor.jpeg)">
							</div>
							<div class="text pt-4">
								<p class="mb-4">
									Final Year Njala University Computer Science Honours Student
								</p>
								<p class="name">Chernor Alim Kamara</p>
								<span class="position">UI Designer</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	

<%- include ('partials/footer') %>